<div class="container my-4">
  <h4>GOAL 作成</h4>
  <div class="card">
    <div class="card-body">
      <%= form_with model: @goal, url: goals_path, method: :post, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class:"form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :content, "説明" %>
          <%= f.text_area :content, rows: 3, class:"form-control" %>
        </div>

        <div class="row g-2 mb-3">
          <div class="col">
            <%= f.label :start_date, "開始日" %>
            <%= f.date_field :start_date, class:"form-control", required: true %>
          </div>
          <div class="col">
            <%= f.label :target_date, "目的日" %>
            <%= f.date_field :target_date, class:"form-control", required: true %>
          </div>
        </div>

        <% if @goal.errors.any? %>
          <div class="alert alert-danger">
            <ul class="mb-0">
              <% @goal.errors.full_messages.each do |m| %>
                <li><%= m %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="d-flex justify-content-between">
          <%= link_to "← プロフィールに戻る", profile_path(current_user), class:"btn btn-outline-secondary" %>
          <%= f.submit "作成", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

